.body-image {
    background-image: url('./pexels-chan-walrus-941861.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.85;
}

.color-text {
    color: white;
}

.black-text {
    color: black;
}

.text-size{
    font-size: 25px;
}

.header-contacto {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}